@(user: String, repo: String, releases: List[String], releaseDates: Map[String,String])

@main("Release Notes Page"){
  <div class="jumbotron text-center">
    <h1>@repo available Releases</h1>
    <p>This is a demo of a simple release note generator using the GitHub API to look for commits within a certain time period</p>
  </div>

  @for(release <- releases) {
    <div class="container">
      <div class="row">
        <p>Release: @release</p>
        <a href=@routes.ReleaseNoteController.showCommits(user, repo, release, Some(releaseDates)) class="btn-primary" role="button"> go to notes</a>
      </div>
    </div>
  }
}